.btn {
  border: none;
  font-family: $primary-font;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 1.4rem 2rem;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 0.2s;

  &-primary {
    background: $primary-gradient;
  }

  &:hover {
    opacity: 0.7;
  }
}
