* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $primary-font;
  font-size: 10px;
}

body {
  background: $dark-color;
  color: $light-gray;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $secondary-font;
  text-align: center;
}

h1 {
  font-family: $primary-font;
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 4.4rem;
  font-weight: bold;
  margin-block-start: 2rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.7rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.4rem;
}
