@import 'variables';
@import 'buttons';
@import 'config';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background: $dark-gray;
  padding: 2rem 5rem;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 90%;
  margin-block-start: 3rem;
}

.exchange-rates {
  display: grid;
  grid-gap: 2rem;

  .rates-list {
    font-size: 1.4rem;
    list-style: none;

    .list-item {
      display: grid;
      grid-template-areas:
        'today diff'
        'yesterday diff';
      grid-gap: 1rem 4rem;
      align-items: center;
      padding: 1rem;
      border-block-end: 1px solid $light-gray;

      @media screen and (max-width: 450px) {
        grid-template-areas:
          'today'
          'yesterday'
          'diff';
      }

      &:last-child {
        border: none;
      }

      .today {
        grid-area: today;
      }

      .diff {
        grid-area: diff;
        font-size: 1.8rem;
        justify-self: end;

        @media screen and (max-width: 450px) {
          justify-self: start;
        }
      }

      .plus {
        color: $tertiary-color;
      }

      .minus {
        color: $primary-color;
      }

      .yesterday {
        grid-area: yesterday;
      }
    }
  }
}

.converter {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-block-start: 2rem;

  .input,
  .output {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;

    @media screen and (max-width: 740px) {
      grid-template-columns: 1fr;
    }
  }

  .arrows {
    text-align: center;

    .fa-arrow-alt-circle-down {
      color: $primary-color;
    }
  }
}

.field {
  font-family: $primary-font;
  color: $dark-color;
  background: #fff;
  border: none;
  border-radius: 3px;
  padding: 1rem;
  font-size: 1.4rem;

  &:focus {
    outline-color: $primary-color;
  }
}
