@import 'variables';
@import 'buttons';
@import 'config';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.converter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background: $dark-gray;
  grid-gap: 5rem;
  padding: 5rem;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  max-width: 90%;

  input,
  select,
  p {
    font-family: $primary-font;
    color: $dark-color;
    background: #fff;
    border: none;
    border-radius: 3px;
    padding: 1rem;
    font-size: 2rem;
    max-width: 250px;

    &:focus {
      outline-color: $primary-color;
    }
  }
}
