@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Zilla+Slab&display=swap");
.btn {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 1.4rem 2rem;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 0.2s;
}
.btn-primary {
  background: linear-gradient(90deg, #f27a54 0%, #a154f2 100%);
}
.btn:hover {
  opacity: 0.7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
@media screen and (max-width: 376px) {
  html {
    font-size: 8px;
  }
}

body {
  background: #30363d;
  color: #cbcfd4;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Zilla Slab", serif;
  text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90deg, #f27a54 0%, #a154f2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 4.4rem;
  font-weight: bold;
  margin-block-start: 2rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.7rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.4rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  background: #3c444c;
  padding: 2rem 5rem;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  max-width: 90%;
  margin-block-start: 3rem;
}

.exchange-rates {
  display: grid;
  grid-gap: 2rem;
}
.exchange-rates .rates-list {
  font-size: 1.4rem;
  list-style: none;
}
.exchange-rates .rates-list .list-item {
  display: grid;
  grid-template-areas: "today diff" "yesterday diff";
  grid-gap: 1rem 4rem;
  align-items: center;
  padding: 1rem;
  border-block-end: 1px solid #cbcfd4;
}
@media screen and (max-width: 450px) {
  .exchange-rates .rates-list .list-item {
    grid-template-areas: "today" "yesterday" "diff";
  }
}
.exchange-rates .rates-list .list-item:last-child {
  border: none;
}
.exchange-rates .rates-list .list-item .today {
  grid-area: today;
}
.exchange-rates .rates-list .list-item .diff {
  grid-area: diff;
  font-size: 1.8rem;
  justify-self: end;
}
@media screen and (max-width: 450px) {
  .exchange-rates .rates-list .list-item .diff {
    justify-self: start;
  }
}
.exchange-rates .rates-list .list-item .plus {
  color: #6fcf97;
}
.exchange-rates .rates-list .list-item .minus {
  color: #f27a54;
}
.exchange-rates .rates-list .list-item .yesterday {
  grid-area: yesterday;
}

.converter {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-block-start: 2rem;
}
.converter .input,
.converter .output {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
}
@media screen and (max-width: 740px) {
  .converter .input,
.converter .output {
    grid-template-columns: 1fr;
  }
}
.converter .arrows {
  text-align: center;
}
.converter .arrows .fa-arrow-alt-circle-down {
  color: #f27a54;
}

.field {
  font-family: "Montserrat", sans-serif;
  color: #30363d;
  background: #fff;
  border: none;
  border-radius: 3px;
  padding: 1rem;
  font-size: 1.4rem;
}
.field:focus {
  outline-color: #f27a54;
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */